:root {
  --primary: #822418;
  --secondary: #f4a313;
  --bg-avatar: #ffe495;
  --bg-pages: #fff6c9;
}

*,
html {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}

nav ul li a.active3 {
  color: var(--secondary);
  padding: 10px 20px;
  box-shadow: 0px -3px 0px 1px var(--secondary) inset;
  border-radius: 10px;
  border: none;
}

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  grid-template-areas:
    "gambar"
    "menu";
}
.hero .gambar {
  grid-area: gambar;
}
.hero .gambar img {
  width: 100%;
  height: 100%;
}

.kontak {
  display: flex;
  width: 100%;
  outline: 0;
  border: none;
  background-color: var(--bg-pages);
  margin: auto 0;
  padding-top: 90px;
  padding-bottom: 90px;
  justify-content: center;
}
.kontak .container {
  background-color: var(--bg-avatar);
  border: none;
  border-radius: 20px;
  padding: 50px 30px 50px 30px;
  width: 90%;
  transition: linear 0.2s;
}
.kontak .container:hover {
  transform: scale(1.05);
}
.kontak .container .isi-kontak {
  margin: auto 0;
}

.kontak .container .isi-kontak p {
  font-size: 20px;
  font-weight: 400;
}
.kontak .container .isi-kontak img {
  position: relative;
  top: 18px;
}
.container .judul-lokasi {
  background-color: var(--primary);
}
.lokasi {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  outline: 0;
  border: none;
  background-color: var(--bg-pages);
  margin: auto 0;
  padding-top: 90px;
  padding-bottom: 90px;
  justify-content: center;
}
.lokasi .isi-lokasi {
  background-color: var(--bg-avatar);
  border: none;
  border-radius: 20px;
  padding: 50px 30px 50px 30px;
  width: 90%;
  height: auto;
  align-content: center;
  transition: linear 0.2s;
}
.lokasi .isi-lokasi:hover {
  transform: scale(1.05);
}

.lokasi .isi-lokasi .alamat {
  display: flex;
  width: auto;
  justify-content: center;
}
.lokasi .isi-lokasi .alamat p1 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.lokasi .isi-lokasi .alamat span {
  text-align: center;
}
.container .maps {
  background-color: var(--bg-pages);
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
}
.container .maps iframe {
  width: 90vw;
  height: 70vh;
  margin-bottom: 100px;
  transition: linear 0.2s;
}
.container .maps iframe:hover {
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .kontak {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .kontak .container {
    padding: 30px 30px 30px 30px;
    width: 90%;
  }
  .kontak .container .isi-kontak p {
    font-size: 14px;
    font-weight: 400;
  }
  .lokasi {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .lokasi .isi-lokasi {
    padding: 30px 30px 30px 30px;
  }
  .lokasi .isi-lokasi .alamat p1 {
    font-size: 14px;
    font-weight: 600;
  }
}
@media (max-width: 500px) {
  .kontak {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .kontak .container {
    padding: 20px 10px 20px 10px;
    width: 90%;
  }
  .kontak .container .isi-kontak p {
    font-size: 8px;
    font-weight: 400;
  }
  .kontak .container .isi-kontak a img {
    width: 15%;
    height: 10%;
  }
  .lokasi {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .lokasi .isi-lokasi {
    padding: 20px 10px 20px 10px;
  }
  .lokasi .isi-lokasi .alamat p1 {
    font-size: 8px;
    font-weight: 600;
  }
  .container .maps iframe {
    margin-bottom: 20px;
  }
}
