:root {
  --primary: #822418;
  --secondary: #f4a313;
  --bg-avatar: #ffe495;
  --bg-pages: #fff6c9;
}

*,
html {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}

nav ul li a.active2 {
  color: var(--secondary);
  padding: 10px 20px;
  box-shadow: 0px -3px 0px 1px var(--secondary) inset;
  border-radius: 10px;
  border: none;
}
.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  grid-template-areas:
    "gambar"
    "menu";
}
.hero .gambar {
  grid-area: gambar;
}
.hero .gambar img {
  width: 100%;
  height: 100%;
}
.hero .menu {
  grid-area: menu;
  background-color: var(--primary);
  text-transform: uppercase;
}
.search {
  position: relative;
  min-height: 100vh;
  background-color: var(--bg-pages);
  max-width: auto;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}
.search .search-box {
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--secondary);
  padding: 0px 10px 0px 10px;
  color: var(--primary);
  font-size: 20px;
  border-radius: 30px;
}
.search-box input::placeholder {
  color: var(--primary);
  text-align: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
}
.search-box i {
  position: absolute;
  z-index: 2;
  color: var(--primary);
  top: 50%;
  right: 0px;
  font-size: 30px;
  transform: translateY(-50%);
}
.search .images {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.search .images .image-box {
  height: auto;
  width: auto;
  border-radius: 8px;
}

.images .image-box {
  margin: 15px 0px 15px 0px;
}
.images .image-box img {
  height: 300px;
  width: 400px;
  border-radius: 10px;
  transition: transform 0.2s linear;
}
.image-box:hover img {
  transform: scale(1.05);
}
.image-box h6 {
  text-align: center;
  color: var(--primary);
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.search .terima-pesanan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  padding-top: 100px;
  color: var(--primary);
  font-size: 25px;
  font-weight: 500;
}
.search .terima-pesanan .images {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 100px 0px 100px 0;
}

@media (max-width: 768px) {
  .search {
    padding-top: 50px;
  }
  .search .search-box {
    height: 40px;
    max-width: 300px;
  }
  .search-box input::placeholder {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .search {
    padding-top: 30px;
  }
  .search .search-box {
    height: 35px;
    max-width: 250px;
  }
  .search-box input {
    font-size: 8px;
  }
  .search-box input::placeholder {
    font-size: 8px;
  }
  .images .image-box img {
    height: 70px;
    width: 100px;
  }
  .image-box h6 {
    font-size: 8px;
  }
  .search .terima-pesanan {
    padding-top: 20px;
    font-size: 10px;
  }
  .search .terima-pesanan .images {
    padding: 20px 0px 20px 0;
  }
}
